/*Documento CSS*/
* { margin: 0px;
    padding: 0px;




}


h2 {font-family: "Merriweather";
font-size: 32px;
margin: 16px;
line-height: 140%;
}



.cabecera {width: 80%;
            min-height: 1px;
            padding: 16px 0px;
            text-align: center;
            font-size: 3cm;
            color: rgb(208, 208, 208);
            border: 1px solid black;
            border-radius: 16px;
            margin: 16px auto;
            background: #833AB4;
            background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 27%, rgba(240, 175, 55, 1) 50%, rgba(253, 29, 29, 1) 78%, rgba(131, 58, 180, 1) 100%);

        }

.principal { padding: 40px 0px;}




.principal p { font-family: Merriweather;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 16px;

}

.principal a { display: block;
    width: 200px;
    padding: 8px 0px;
    text-align: center;
    background-color: rgb(66, 185, 40);
    font-family: Merriweather;
    color: azure;
    font-size: 16px;
    text-decoration: none;
    border-radius: 8px;

}

.contenido { width: 80%; 
            display: flex; 
            margin: auto;
        }

.contenido::before { content: "";
    display: block;
    width: 60px;
    height: 60px;
    background: url(../img/send.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: 0px;
    right: 40px;

    }
    
.contenido::after { content: "";
        display: block;
        width: 60px;
        height: 60px;
        background: url(../img/send.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        top: 300px;
        right: -40px;
    
        }




.uno {margin-right: 16px;}


.item { width: 50%; }

.item input { width: 100%;
    padding: 8px 0px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.289);
}

.item input::placeholder,textarea::placeholder { color: #3ab444;
   padding-left: 8px; 
}

textarea { max-width: 100%;
    min-width: 100%;
    min-height: 120px;
    max-height: 120px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.289);
}

.pie { text-align: center;
    padding: 16px 0px;
    margin-top: 64px; 
    background-color: #833AB4; 
   color: azure;
   font-family: Merriwearher;
}